.home{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items:right;
    flex-direction: column;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
  
}
.headerContainer{
    width: auto;
    margin-right: 50px;
}
.home .headerContainer h1{
    justify-content:left;
    align-items: left;
    font-weight: bold;
    font-size: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}
.home .headerContainer h2{
    color: rgb(216, 218, 228);
    font-size: 50px;
}


.home .headerContainer p{
    margin: top 15px;
    padding:0%;
    font-size: 50px;
    font-weight: lighter;
    color: rgb(13, 3, 45);
}
.home .headerContainer button{
    background-color:orange;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width:180px;
    text-decoration: none;
    color: white;
    

}
.headerContainer button:hover{
    background-color:white;
    cursor: pointer;
    transition:0.3s ease-in ;
}